/*.card{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50px;
}

.card:hover{
    overflow: visible;
}*/

.tooltip, .info {
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50px;
}

.tooltip .tooltiptext,.info__tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 20%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after,.info__tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext,.info:hover .info__tooltiptext {
  visibility: visible;
  opacity: 1;
}

.info__tooltiptext {
  width: 365px;
  left:-40px;
}